body{
    background-image: url("https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project_1folder/cssProject1/background.jpg");
}
p{
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0px;
}
.container{
    background-color: rgb(76, 87, 81);
    padding: 20px;
    width:  1000px;
    margin: auto;
    border-radius: 20px;
}
img{
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 22px;
    opacity: 0.8;
}
img:hover{
    opacity: 1;
}