*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

.conatiner h2{
    color: rgb(203, 159, 14);
    font-weight: 800;
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    letter-spacing: 5px;
}
#image-container{
    margin: 10px 10%;
}
#image-container img{
    width: 30%;
    padding: 10px;
    margin-top: 5px;
}
@media screen and (max-width:1000px){
    .conatiner h2{
        font-size: 2rem;
    }
    #image-container{
        margin: 5px;
    }
    #image-container img{
        width: 100%;
        margin-top: 5px;
    }
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
}

.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: (-50%,-50%);
}
