*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 50px;
}
h4{
    font-size: 28px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 31px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 17px;
}
p{
    font-size: 17px;
    color: rgb(67, 66, 66);
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
.firstSection{
    width: 100%;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(202, 240, 251);
    padding: 5px 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
#logo-img{
    padding:10px 20px;
    margin-top: 11px;
}
.navbar ul{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 2px;
    height: 78px;
}
.navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;
    transition: 0.3s ease;
}

.navbar a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(94, 107, 161);
    font-weight: 500;
    transition: 0.3s ease;
}
.navbar-options a:hover, .navbar-options a.active{
    color: rgb(6, 28, 173);
}
.navbar-options a.active::after, .navbar-options a:hover::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    background: rgb(6, 28, 173);
    bottom: -4px;
    left: 16px;
}
.btn{
    padding: 7px 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}