*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 50px;
}
h4{
    font-size: 28px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 31px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 17px;
}
p{
    font-size: 17px;
    color: rgb(67, 66, 66);
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
.firstSection{
    width: 100%;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(202, 240, 251);
    padding: 5px 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.mobileNavbar{
    display: none;
}
#close{
    display: none;
}
#logo-img{
    padding:10px 20px;
    margin-top: 11px;
}
.navbar ul{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 2px;
    height: 78px;
}
.navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;
    transition: 0.3s ease;
}

.navbar a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(94, 107, 161);
    font-weight: 500;
    transition: 0.3s ease;
}
.navbar-options a:hover, .navbar-options a.active{
    color: rgb(6, 28, 173);
}
.navbar-options a.active::after, .navbar-options a:hover::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    background: rgb(6, 28, 173);
    bottom: -4px;
    left: 16px;
}
.btn{
    padding: 7px 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
#homePage{
    background-image: url("images/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 20% right 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 93%, 0 100%);

}
.homePageContainer{
    margin-left: 90px;
}
#homePage h4{
    padding-bottom: 10px;
    margin-top: -100px;
}
#homePage h1{
    color: #088178;
    margin-top: -8px;
}
#homePage p{
    color: rgb(67, 66, 66);
    padding: 10px 0;
}

/* features section */
.features{
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.featuresContainer{
    padding: 25px 20px;
    margin: 10px 20px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    display: flexbox;
    border: 1px solid rgb(206, 195, 195);
    flex-direction: row;
    cursor: pointer;
}
.featuresContainer:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
}
.featuresContainer img{
    width: 100%;
    margin: 5px 0;
}
.featuresContainer h6{
    font-size: 15px;
    background: #088178;
    padding: 3px;
    display: inline-block;
    padding: 7px 15px;
}
#fc2 h6{
    background: rgb(207, 135, 135);
}
#fc3 h6{
    background: rgb(152, 205, 152);
}
#fc4 h6{
    background: rgb(182, 146, 182);
}
#fc5 h6{
    background: palegreen;
}
#fc6 h6{
    background: sandybrown;
}

/* product section */

.products{
    margin-top: 50px;
    text-align: center;
}
.products .p1{
    margin-bottom: 30px;
    padding: 2px 0 0 0;
}
.products h1{
    margin-top: 100px;
}

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.productImageContainer{
    width: 250px;
    margin: 10px 20px;
    border: 1px solid rgb(162, 140, 140);
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    margin-bottom: 50px;
}
.productImageContainer .addInfo{
    text-align: start;
    padding: 5px 10px;
}
.productImageContainer:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
}
.productImageContainer h5{
    font-size: 20px;
    padding: 3px 0;
}
.productImageContainer h6{
    font-size: 17px;
    color: rgb(1, 201, 11);
}
.productImageContainer h5:hover{
    color: #088178; 
}
.productImageContainer img{
    width: 97%;
    margin-top: 5px;
    border-radius: 30px;
    padding-bottom: 15px;
}
.starsContainer i{
    color: gold;
    padding-bottom: 2px;
}
.products .cartLogo{
    position: absolute;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 7px;
    right: 10px;
    line-height: 40px;
    border-radius: 50px;
    background: #b3cfcd;
}
.productImageContainer p{
    padding-bottom: 2px;
}

/* banner start */
.banner{
    margin-top: 100px;
    margin: 50px 0;    
}
.bannerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 30px 40px;
    background: url("./images/banner/b2.jpg");
    color: white;
    height: 200px;
}
.btn1{
    margin-top: 10px;
    color: white;
    border: 2px solid white;   
}
.btn1:hover:hover{
    background: white;
    color: black;
    font-weight: 700;
}
.bannerContainer h3{
    padding: 5px 0;
}
.bannerContainer #span1{
    color: #ff3c00;
}
.bannerContainer #span2{
    color: #088178;
}
.bannerContainer #span3{
    color: rgb(1, 235, 1);
}
/* panel start here */

.panel{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panelContainer{
    min-width: 45%;
    background-image: url("./images/banner/b17.jpg");
    height: 50vh;
    margin: 20px 30px;
    background-size: cover;
    background-position: center;
}

.panelContainer .panel1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    margin-top: 100px;
}
.panelContainer .panel1 h4{
    font-weight: 800;
    color: blueviolet;
    letter-spacing: 1mm;
    word-spacing: 3mm;
    font-size: 60px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.9);
}
.panelContainer .panel11 h4{
    margin-top: -18px;
}
.panelContainer .panel1 h2{
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    margin-top: -8px;
    padding-bottom: 20px;
}
.panelContainer .panel1 p{
    padding-bottom: 7px;
}
.panel #secondPan{
    background: url("./images/banner/b10.jpg");
    background-size: cover;
}
#secondPan .panel1{
    margin-top: 80px;
}
#secondPan .panel1 h4{
    color: rgb(115, 212, 113);
    font-size: 45px;
}
#secondPan .panel1 h2{
    font-size: 30px;
    margin: 2px 0;
}
#secondPan .panel1 p{
    color: rgb(218, 174, 93);
    margin-bottom: 0;
    padding-bottom: 0;
}
/* botton panel */
.bottomPanel{
    padding: 0 34px;
}
#bottomPanel .panelContainer{
    min-width: 30%;
    background-image: url("./images/banner/b7.jpg");
    height: 40vh;
    margin: 20px 30px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.bottomPanel #secondPanel{
    background-image: url("./images/banner/b4.jpg");
}
.bottomPanel #thirdPanel{
    background-image: url("./images/banner/b18.jpg");
}
.bottomPanel #firstPanel h4{
    font-size: 30px;
    color: gold;

    margin-top: -100px;

}
.bottomPanel #secondPanel h4{
    font-size: 30px;
    color: rgb(245, 6, 6);
    margin-top: -88px;

}
.bottomPanel #thirdPanel h4{
    font-size: 30px;
    color: rgb(4, 254, 71);
    margin-top: -100px;

}
#bottomPanel p{
    color: black;
    font-weight: 800;
}

#firstPanel,#secondPanel,#thirdPanel{
    display: flex;
    justify-content: center;
}
/* form */
.form{
    padding: 20px;
    padding-left: 50px;
}
.fromContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/banner/b19.jpg");
    background-size: cover;
    height: 200px;
}
.formContent1{
    padding: 20px;
    margin: 0 50px;
}
.form input{
    padding: 6px 50px;
    font-size: 22px;
    border: none;
    outline: none;
}
.form .btn{
    padding: 7px 50px;
    font-size: 20px;
    font-weight: 600;
}
.form h4{
    font-size: 40px;
    padding-bottom: 1px;
}
.form p{
    color: gainsboro;
}

/* footer */
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.footerContainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.footer a{
    text-decoration: none;
    color: black;
    padding: 2px;
}
.footer a:hover{
    color: #088178;
}
.footer .col{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.footer h5{
    padding-bottom: 10px;
}
.colImgContainer{
    margin-top: -49px;
    padding-bottom: 10px;
}
.footer .socialIcons i{
    padding: 5px;
}
.footer .socialIcons i:hover{
    color: rgb(70, 165, 116);
}
.footer .col span{
    font-weight: 800;
    color: black;
    font-size: 18px;
}
#followus{
    margin-top: 20px;
}
.colApp .payIconLogo img{
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
}
.footer .payLogo{
    margin-top: 10px;
}
/* media query for iPad */
@media (max-width:799px){
    /* #secondPan .panel1 h4{
        font-size: 25px;
    } */
    .footer .col{
        padding: 20px;
    }
    .panel{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .panelContainer {
        min-width: 92%;
        height: 380px;
    }
    .bottomPanel .panelContainer{
        min-width: 33%;
    }
    #bottomPanel{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        
    }
    .bannerContainer h1{
        font-size: 45px;
    }
    .bannerContainer h3{
        font-size: 33px;
        color: gold;
    }
    .bannerContainer h4{
        font-size: 30px;
    }
    #homePage{
        background-position: top 20% right -226px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 95%, 0 100%);
    }
    #homePage .homePageInfo{
        margin-left: -60px;
    }
    .fromContainer{
        flex-direction: column;
    }
    .form p{
        margin-bottom: -25px;
    }
    .navbar-options{
        width: 260px;
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        right: -300px;
        /* transform: translateX(-100%); */
        top: 0;
        height: 100vh;
        padding: 0 20px;
        color: white;
        transition: 0.3s ease-in-out;
    }
    /* .open{
        transform: translateX(0);
    } */
    .active1{
        right: 0px;
    }
    .navbar-options ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 60px;
    }
    .navbar-options li a{
        color: white;
        padding: 10px;
    }
    .navbar-options li{
        padding: 15px 5px;
    }
    .navbar-options a:hover, .navbar-options a.active{
        color: aqua
    }
    .navbar-options a.active::after, .navbar-options a:hover::after{
        background: aqua;
    }
    .mobileNavbar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
    .mobileNavbar a{
        padding: 0 30px;
    }
    .mobileNavbar i{
        font-size: 25px;
    }
    .mobileNavbar i:hover{
        cursor: pointer;
    }
    #icon1{
        cursor: pointer;
    }
    #close{
        display: block;
        position: absolute;
        top: 20px;
        right: 240px;
        font-size: 30px;
        
    }
}
@media (max-width:450px){
    .panelContainer{
        background-image: url("./images/banner/b17.jpg");
        height: 50vh;
        margin: 20px 0px;
        background-size: cover;
        background-position: center;
    }
    .panelContainer .panel1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 20px;
        margin-top: 100px;
    }
    .panel{
        flex-wrap: nowrap;
    }
    .panelContainer{
        max-width: 100%;
    }
    #secondPan .panel1 h4{
        font-size: 32px;
    }
    #bottomPanel{
        width: 100%;
    }
    #bottomPanel {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #bottomPanel .panelContainer{
        padding: 0px;
        margin: 2px;
    }
    .panelContainer .panel1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-top: 100px;
    }
    .formContent1{
        padding: 0;
        margin: 0 20px;
        text-align: center;
    }
    .form h4{
        font-size: 32px;
    }
    .form p {
        margin-bottom: 4px;
    }
    .formContent1 .btn{
        margin-top: 10px;
    }
    .formContent1 input{
        font-size: 17px;
    }
    .featuresContainer {
        padding: 25px 15px;
        margin: 10px 4px;
    }
    .features{
        margin: 20px 0;
    }
    .bannerContainer h4{
        font-size: 20px;
    }
    .bannerContainer h1{
        font-size: 27px;
    }
    .bannerContainer h3{
        font-size: 21px;
    }
    .form .btn {
        padding: 4px 50px;
        font-size: 20px;
    }
}