@import url('https://fonts.googleapis.com/css2?family=My+Soul&family=Noto+Serif&family=Oxygen:wght@300&family=Parisienne&family=Syncopate&family=Trirong:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 120vh;
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/hotwl.jpg);
    background-size: cover;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav .heading{
    padding-left: 30px;
    text-align: center;
}
nav .navbar{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .navbar a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.container h3{
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 10px;
}
.container h1{
    font-size: 60px;
    font-weight: 900;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'Parisienne', cursive;
}
.container p{
    margin: 5px;
    font-size: 15px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}
.container a{
    padding: 10px 30px;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Trirong', serif;
}
.main .container .button1{
    margin: 2px;
    padding: 10px, 13px;
    background: #fff;
    color: #000;
    border-radius: 20px;
}
.main .container .button2{
    margin: 2px;
    padding: 10px, 13px;
    background: rgb(36, 236, 149);
    color: #000;
    border-radius: 20px;
}
.main .container .button1:hover{
    background: rgb(116, 105, 238);
    color: white;
}
.main .container .button2:hover{
    background: rgb(116, 105, 238);
    color: white;
}
.change-words:after{
    content: '';
    animation: changetext 8s infinite linear;
    color: #00b894;
}
@keyframes changetext{
    0%{content: "Only 7 Star Hotel in The World";}
    20%{content: "Most Iconic";}
    40%{content: "Most Premium";}
    60%{content: "Most Luxurious";}
    80%{content: "Most Stunning";}
    100%{content: "Most Fascinating";}
}