@import 'utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@400;600&display=swap');

:root{
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}
header a{
    color: var(--pure);
    text-decoration: none;
    padding-right: 2rem;
    text-transform: uppercase;

}
header a:hover{
    color: var(--primary);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1152px;
    }
}
header nav{
    padding: 2rem;
}
#brandlogo{
    padding-right: 3rem;
}
.btn{
    padding: 0.5rem 1.2rem;
    font-size: 1rem; 
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
}
.btn-secondary{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}
.btn-secondary:hover{
    background: var(--primary);
    color: #161616;
}
.btn-primary{
    color: var(--secondary);
    background-color: var(--primary);
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.hero img{
    width: 400px;

}
.hero .hero-right{
    color: var(--pure);
}
.hero h3{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--primary);
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}
.hero h1{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
    font-family: 'Lato', sans-serif;
}
.change-words:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #e4a541;
}
@keyframes changetext{
    0%{content: "Web Developer";}
    20%{content: "Software Engineer";}
    40%{content: "Full Stack Developer";}
    60%{content: "Creative Designer";}
    80%{content: "Coding Enthusiast";}
    100%{content: "Competitive Programmer";}
}
section{
    padding: 6rem 0;
}
.hero-right p{
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}
.container .div1-image img{
    max-height: 70vh;
    margin-left: 1.5rem;
}
section .content h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}
section .content h3{
    margin-bottom: 0.11rem;
    font-size: 1.6rem;
    font-weight: 500;
}
section .content p{
    font-family: 'Poppins', sans-serif;
    color: var(--ternary);
    line-height: 1.7;
}
section .content .span-aboutme{
    color: var(--primary);
}
.social-links{
    display: flex;
}
.social-links a{
    background: #161616;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.2rem;

}
.social-links a:hover{
    background: var(--primary);
}
.social-links a img{
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
.section-heading span{
    color: var(--primary);
}
.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;

}
.services{
    background: var(--light);
}
section .card-wrapper .card{
    padding: 3rem 2rem ;
    background: var(--pure);
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all 0.3s ease;
}
section .card-wrapper .card:hover{
    background: var(--dark);
}
section .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section .card-wrapper .card h2{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section .card-wrapper .card:hover h2,section .card-wrapper .card:hover p{
    color: var(--pure);
}
section .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6rem;
}
.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 12rem;
}
.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5rem;
    font-weight: 600;
}
.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}
.reviews .slide-content{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
.reviews .slide-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}
.reviews.slide-content p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
.reviews .slide-content span{
    font-size: 1rem;
    font-weight: 600;
}
.reviews .slider-dots{
    margin-top: 3rem;
}
.reviews .slider-dots .dots{
    list-style: none;
    display: flex!important;
    justify-content: center;
}
.reviews .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
}
.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-row-gap: 10rem;
    grid-column-gap: 3rem; */
    grid-gap: 2rem;
}
.work .card-wrapper .card{
    position: relative;
    height: 250px;
}
.work .card-wrapper .card img{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}
.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: var(--light);
    background: rgba(61, 207, 211, 0.9);
    transition: all 0.3s ease;
    opacity: 0;
}
.work .card-wrapper .card:hover .overlay{
    opacity: 0.95;
}
.work .card-wrapper .card .overlay a{
    text-decoration: none;
    color: var(--dark);
}
/* .section-heading2 h1{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading2 p{
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
} */
.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
}
.blog .section-heading{
    color: var(--pure);
}
.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding-bottom: 10rem;
}
.blog .card-wrapper .card{
    background: var(--pure);
}
.blog .card-wrapper .card .image-wrapper img{
    width: 100%;
    /* height: 100%;
    object-fit: cover;
    /* margin-bottom: 10rem; */
    /*padding-bottom: 15rem; */
}
.blog .card-wrapper .card:hover{
    background: #e4a541;
    opacity: 0.8;
}
.blog .card-wrapper .card .card-content{
    padding: 1rem;
    margin-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1mm;
}
.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
.blog .card-wrapper .card .card-content span{
    color: var(--secondary);
    font-size: 0.8rem;

}
.blog .card-wrapper .card .card-content p{
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.blog .card-wrapper .card .card-content .read-more{
    font-size: 1rem;
}
.contact .section-heading{
    padding-top: 5rem;
}
.contact .card-wrapper{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
.contact .card-wrapper .card{
    text-align: center;
}
.contact .card-wrapper .card img{
    margin-bottom: 0.8rem;
}
.contact .card-wrapper .card h2{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.3rem;
    text-transform:uppercase;
    font-size: 20px;
    font-style: unset;
}
.contact .card-wrapper .card h6{
    font-size: small;
    font-weight: 700;
    color: var(--ternary);
}
.contact .container{
    margin-bottom: 5rem;
}
.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 1rem 3rem 1rem 3rem;
}
.contact .input-wrap-1{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 1rem;
}
.contact .input-wrap-1 input{
    margin-bottom: 2rem;
}
.contact input{
    padding: 0.5rem;
}
.contact .input-wrap-1 textarea{
    padding: 0.5rem;
}
.contact .btn-wrapper{
    text-align: center;
    margin-bottom: 5rem;
}
footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0rem;
}
.footer-images{
    margin-bottom: 1rem;
}
footer .footer-social-icons a{
    margin-right: 2rem;
}
footer .copyright{
    color: var(--ternary);
}

.main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamberger img{
    width: 28px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 100%;
    z-index: 1001;
    padding: 2rem;
    height: 50%;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.times img{
    width: 30px;
}
.mobile-nav ul{
    list-style: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
@media (max-width: 1024px){
    *{
        max-width: 1180px;
    }
    .hamberger{
        display: block;
    }
    .hamberger img {
        width: 39px;
        position: absolute;
        right: -400px;
    }
    header #main-nav{
        display: none;
    }
    .hero img {
        width: 333px;
        margin-left: -140px;
        padding-bottom: 0px;
        margin-bottom: -52px;
    }
    .hero h3{
        padding-top: 3rem;
    }
    .hero h1{
        font-size: 1.5rem;
        width: 380px;
    }
    .hero{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .about .container{
        padding-left: 0;
        margin-left: 0;
    }
    section.services{
        max-width: 1024px;
    }
    .hero-right p {
        margin-bottom: 1rem;
        font-family: 'Poppins', sans-serif;
        width: 434px;
    }
    section .content p {
        font-family: 'Poppins', sans-serif;
        color: var(--ternary);
        line-height: 1.7;
        width: 330px;
        /* padding-left: 1rem; */
    }
    .container .div1-image img {
        max-height: 600px;
        margin-left: 0.5rem;
        padding-right: 2.5rem;
    }
    .services .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 6rem;
    }
    .blog .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
        padding-bottom: 10rem;
    }
    .blog .card{
        /* padding-bottom: 1rem; */
        margin-bottom: 5rem;
    }
    .work .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .blog .card-wrapper .card .card-content {
        padding: 1rem;
        margin-top: 15rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .blog {
        background: var(--dark);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
    section.blog {
        padding: 6rem 0;
        padding-bottom: 1rem;
    }
}
@media (max-width:576px){
    .hero {
        padding-top: 5rem;
        padding-bottom: 2.2rem;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    header {
        background-color: var(--dark);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 91%, 0 100%);
        min-width: 781px;
        padding-bottom: 5px;
    }
    .hero-right p {
        margin-bottom: 1rem;
        font-family: 'Poppins', sans-serif;
        width: 391px;
    }
    /* .hero img {
        width: 333px;
        margin-left: 8px;
        padding-bottom: 0px;
        margin-bottom: -52px;
    } */
    .services {
        background: var(--light);
        min-width: 775px;
    }
    section {
        /* padding: 6rem 0; */
        min-width: 781px;
    }
    .blog .card-wrapper .card .card-content{
        padding: 1rem;
        margin-top: 25rem;
    }
    .contact .container {
        margin-bottom: 5rem;
        min-width: 781px;
    }
    .contact .input-wrap-1 {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 1rem 3rem;
        margin-bottom: 1rem;
        min-width: 781px;
    }
    .contact .input-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 1rem 3rem 1rem 3rem;
        min-width: 781px;
    }
    .contact .btn-wrapper {
        text-align: center;
        margin-bottom: 5rem;
        min-width: 781px;
    }
    footer {
        background: var(--dark);
        text-align: center;
        padding: 5rem 0rem;
        min-width: 781px;
    }
    .container .div1-image img {
        max-height: 774px;
        margin-left: 0.5rem;
        padding-right: 2.5rem;
    }
    section .content h1 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
    }
    section .content h3 {
        margin-bottom: 0.11rem;
        font-size: 2.2rem;
        font-weight: 500;
        text-align: center;
    }
    section .content p {
        font-family: 'Poppins', sans-serif;
        color: var(--ternary);
        line-height: 1.7;
        width: 592px;
        /* padding-left: 1rem; */
        padding-bottom: 2rem;
    }
    .social-links {
        display: flex;
        justify-content: center;
    }
    .services .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 6rem;
    }
    .work .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
    .work .card-wrapper .card .overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        flex-direction: column;
        color: var(--light);
        background: rgba(61, 207, 211, 0.9);
        transition: all 0.3s ease;
        opacity: 0;
    }
    .work .card-wrapper .card img {
        padding: 37px;
        position: absolute;
        top: 0px;
        height: 146%;
        width: 63%;
    }
    .blog .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
        padding-bottom: 10rem;
        /* align-items: center; */
        /* align-content: center; */
        /* justify-content: center; */
        place-items: center;
    }
    .blog .card-wrapper .card {
        background: var(--pure);
        width: 72%;
        /* align-content: center; */
        /* align-items: center; */
    }
    section .card-wrapper .card {
        padding: 3rem 2rem;
        background: var(--pure);
        position: relative;
        padding-top: 5rem;
        text-align: center;
        transition: all 0.3s ease;
    }
    .hero .hero-right {
        color: var(--pure);
        margin-left: 373px;
        margin-top: -38px;
        padding-bottom: 35px;
    }
    .hero img {
        width: 386px;
        margin-left: -361px;
        padding-bottom: 0px;
        margin-bottom: -30.2rem;
        padding-top: -75px;
        margin-top: -55px;
    }
}